<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>LogReg</title>
</head>
<body>
    {% block header %} {% include 'blockFiles/header.html' %} {% endblock header %}
    {% block flash %}
        <div class="messages">
            {% with messages = get_flashed_messages() %}
            <!-- Looks for any flash messages created and puts them in a messages list -->
                {% if messages %}
                <!--  If there is a messages list -->
                    {% for m in messages %}
                    <!-- Loop through all the lines in the list and print out as an h5 -->
                        <h5>{{m}}</h5>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>  
    {% endblock flash %}
    <main>
        <h1>Login & Registration</h1>
        <div class="row">
            <form action="/login/" method="post">
                <h2>Login</h2>
                <section>
                    <label for="email">Email Address</label>
                    <input type="email" name="email">
                </section>
                <section>
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </section>
                <button>Login</button>
            </form>
            <form action="/registration/" method="post">
                <h2>Registration</h2>
                <section>
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name">
                </section>
                <section>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name">
                </section>
                <section>
                    <label for="email">Email Address</label>
                    <input type="email" name="email">   
                </section>
                <section>
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </section>
                <section>
                    <label for="confirm">Confirm Password</label>
                    <input type="password" name="confirm">
                </section>
                <button>Register & Login</button>
            </form>
        </div>
    </main>
</body>
</html>