.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table,
tr,
td,
th {
  border: 2px double cyan;
}
a {
  color: silver;
  border: 5px groove cyan;
  padding: 0.5em;
  margin: 0.5em;
}
li {
  margin: 2em;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: silver;
  width: 95%;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px groove cyan;
  padding: 1em;
  width: 90%;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
