.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #1f472a;
  border: #e98b48 3px solid;
  padding: 0.5em;
}
table,
tr,
td,
th {
  border: double 1px #e98b48;
  padding: 0.5em;
  text-align: center;
  color: #571050;
}
table {
  background-color: #a6e6b876;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f472a;
  color: #dea2d8;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #a6e6b8;
  color: #571050;
  padding: 2em 0;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main img {
  max-width: 400px;
  border: #e98b48 3px solid;
}
body main form {
  margin: 1em;
}
body main .theRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 1em;
}
body main .theRow .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .theRow .column .userBox {
  border: #e98b48 3px solid;
  padding: 0.5em;
}
body main .theRow .column img {
  max-width: 100px;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #a6e6b8;
  color: #571050;
}
