<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Edit {{image.title}}</title>
</head>
<body>
    <header>
        <h1>Edit {{image.title}}</h1>
        <nav>
            <a href="/logout/">Logout</a>
            <a href="/image/add/">Add Image</a>
            <a href="/">Home</a>
        </nav>
    </header>
    <main>
        <form action="/image/{{image.id}}/update/" method="post">
            <section>
                <label for="title">Title of Image</label>
                <input type="text" name="title" value="{{image.title}}">
            </section>
            <button>Update Image</button>
        </form>
    </main>
</body>
</html>