<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{image.title}}</title>
</head>
<body>
    <header>
        <h1>{{image.title}}</h1>
        <nav>
            <a href="/logout/">Logout</a>
            <a href="/image/add/">Add Image</a>
            <a href="/">Home</a>
        </nav>
    </header>
    <main>
        <img src="{{image.url}}" alt="{{image.title}}">
        {% for u in users %}
            {% if u.id == image.user_id %}
                <h3>Added By: {{u.username}}</h3>
            {% endif %}
        {% endfor %}
    </main>
</body>
</html>